.random-wrap {
    background-color: var(--light-blue);
    border-radius: 5px;
    width: 350px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 22px;
}

.number-random {
    font-size: 32px;
    color:#fff;
}

.btn{
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    min-width: 60px;
}