.container {
    background-color: var(--light-blue);
}
.modal-popup {
    text-align: center;
    color: var(--white)
}

h1 {
    font-size: 28px;
}

.popup {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.popup-content {
    animation: slide ease .8s;
    width: 80%;
    height: auto;
    max-width: 600px;
    background-color: #fff;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #777;
    position: relative;
    text-align: center;
}

i.close {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    font-size: 18px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    color: var(--black);
    text-align: center;
    margin-bottom: 8px;
}


.btn{
    margin-top: 16px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    min-width: 60px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    transition: all 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--color-sec);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0);
    }
}